{
  "CN": "system:node:{{ master_node_hostname }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "TW",
      "L": "Taipei",
      "ST": "Taipei",
      "O": "system:nodes",
      "OU": "Kubernetes-manual"
    }
  ]
}
